.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/* Nav related styles */

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

nav {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 15px 35px;
}

nav > ul {
  /* background-color: bisque; */
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* Header related styles */
header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),url('../images/developer.png');
  background-repeat: no-repeat;

  background-position: bottom right, top left;
}

.banner {
  padding: 30px 50px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  height: 837px;
}

.banner .profile {
  width: 590px;
  height: 655px;
  flex-shrink: 0;
}

.banner-greeting {
  font-size: 45px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.banner-content {
  max-width: 500px;
}

/* main section starts */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

/* about section starts */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

.about-info-container {
  display: flex;
  justify-content: space-between;
}

.about-info {
  text-align: center;
}

#what-i-do-description {
  padding: 30px 150px;
}

/* skills related styles */

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

/* Resume section styles */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.resume-item-description,
.resume-item-institute {
  color: #474747;
}

.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-institute {
  margin-bottom: 20px;
  margin-top: 0px;
}

.resume-container hr {
  margin: 30px 0px;
}

.download-cv {
  text-align: center;
  margin: 50px 0px 113px 0px;
}

/* footer section styles */

footer {
  display: flex;
  gap: 50px;
  background: #fff8f3;
  padding: 130px 230px;
}

.footer-column {
  width: 50%;
  gap: 100px;
}

.social-links a{
  margin-right: 25px;
}

.contact input,textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  border-radius: 5px;
  
  border:0;
  width: 100%;
}
